doctype html
html
  head
    link(rel="stylesheet", href="estilos/css/estilos.css")
  body

    include  components/general/main-header/main-header.html
    
    include  components/general/main/main.html
