$color_primario: #2271DE;
$color_primario_on: #fff;

$color_primario_claro: #4789E3;
$color_primario_oscuro: #0A61D8;


$color_complementario: #FFA612;
$color_complementario_on: #000;

$color_neutral: #ccc;
$color_neutral_on: #000;

$color_neutral_claro: #eee;
$color_neutral_oscuro: #aaa;
