<!-- header#main-header -->
<header class="main-header">
    <!-- .logo -->
    <div class="logo">
        <!-- img -->
        <img src="http://fakeimg.pl/500x120?text=LOGO" alt="logo">
    </div>


    <!-- nav.main-menu -->
    <nav class="main-menu">
        
        <!-- ul -->
        <ul>
            <!-- li -->
            <li class="active">
                <!-- a -->
                <a href="#">Menú 1</a>
            </li>
            <li>
                <a href="#">Menú 2</a>
            </li>
            <li>
                <a href="#">Menú 3</a>
            </li>
        </ul>
    </nav>


</header>